html {
  font-family: 'Overpass';
}

body {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

main {
  color: #fff;
}

section {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.btn {
  border: 3px solid rgba(255, 255, 255, 1);
  background-color: #ff5e3a;
}

.btn:hover {
  color: #ff5e3a;
  background-color: rgba(255, 255, 255, 1);
}
